body{
    background-color: rgb(141, 141, 140);
}
#grid-container{
    display: grid;
    grid-template-areas:" topheader topheader top header"
    "nav nav nav"
    "main main main"
    "header header header"
    "footer footer footer" ;

}

#topheader{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

#logo{
    height: 100px;
    width: auto;
    display: flex;
    float: left;
    
}

nav ul{;
    float: right;
}

nav ul li{
    display: inline-block;
    margin: 1rem;
}

nav{
    height: 100px;
    width: auto;
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#artikkelkort{
    display: flex;
    flex-direction: row;
    padding: 200px;
}

main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;

}

header{
    grid-area: header;
    display: flex;
    justify-content: center;
}

footer{
    grid-area: footer;
    flex-direction: row;
    justify-content: center;
}